ion-toolbar {
    color: var(--my-color-text);
}
ion-item {
<<<<<<< HEAD
    --background: --ion-background-color;
}
=======
    --background: --my-color-text;
}
.textColor{
    color: var(--my-color-text);
}
>>>>>>> d6966445836590dc5d821c24e215424965bd738f
